@model Attendance_Management_System.ViewModels.SigninVM

@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font.css" rel="stylesheet" />
    <link href="~/Content/Theme.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="description" content="@ViewBag.Description" />
</head>

<style>
    body {
        background-image: url(http://tompkinschiropractic.com/wp-content/uploads/2015/06/school-chalkboard.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .font {
        font-family: 'Cabin Sketch', serif;
        color: white;
    }
</style>

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger" role="alert" style="margin-top: -15px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @Model.Message
    </div>
}
<div class="row" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="font" style="font-size: 90px;">Mark Me Here</h1>
            <h4 class="font" style="font-size: 20px;">Smooth Attendance . Smart Attendance . Simply Attendance</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1" style="margin-top: 40px;">
        <h1 class="font" style="font-size: 54px;">Sign in</h1>
        <form id="signin-form" method="post" action="/user/signin">
            <input type="text" id="username" name="username" placeholder="Username" class="form-control" style="margin-bottom: 5px;" />
            <input type="password" id="password" name="password" placeholder="Password" class="form-control" style="margin-bottom: 5px;" />
            <button id="signin-btn" class="btn btn-theme btn-block">Sign in</button>
        </form>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/respond.min.js"></script>
<script src="~/Scripts/signin.js"></script>