@{
    ViewBag.Title = "Home Page";
    ViewBag.Description = "Home Page";
}


<style>
    body {
        background-image: url(http://tompkinschiropractic.com/wp-content/uploads/2015/06/school-chalkboard.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div {
        color: white;
    }

    a {
        color: white;
    }

    .font {
        font-family: 'Cabin Sketch', serif;
    }

    img {
        height: 15px;
    }
</style>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="font" style="font-size: 50px;">Thank you for using</h1>
        <h1 class="font" style="font-size: 75px;">Smooth Attendance!</h1>
        <h3 class="font">Smart Attendance . Smooth Attendance . Simply Attendance</h3>
    </div>
</div>

<div class="col-md-6 col-md-offset-1">
    <br />
    <h3 class="font">Table of Contents:</h3>
    <a href="/attendance/index">Mark Attendance</a>
    <br />
    <a href="/student/index">View Students</a>
    <br />
    <a href="/teacher/index">View Teachers</a>
</div>