@{
    ViewBag.Title = "Mark Me Here";
    ViewBag.Description = "Home Page";
}


<style>
    body {
        background-image: url(http://tompkinschiropractic.com/wp-content/uploads/2015/06/school-chalkboard.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .font {
        font-family: 'Cabin Sketch', serif;
        color: white;
    }

    div {
        color: white;
    }

    a {
        color: white;
    }

    img {
        height: 15px;
    }
</style>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="font" style="font-size: 50px;">Thank you for using</h1>
        <h1 class="font" style="font-size: 90px;">Mark Me Here</h1>
        <h4 class="font" style="font-size: 20px;">Smooth Attendance . Smart Attendance . Simply Attendance</h4>
    </div>
</div>

<div class="col-md-6 col-md-offset-1">
    <br />
    <h3 class="font">Table of Contents:</h3>
    <a href="/Attendance" class="font"><img src="~/favicon.ico" /> Mark Attendance</a>
    <br />
    <a href="/Student" class="font"><img src="~/favicon.ico" /> Students</a>
    <br />
    <a href="/Teacher" class="font"><img src="~/favicon.ico" /> Teachers</a>
    <br />
    <a href="/Reports" class="font"><img src="~/favicon.ico" /> Reports</a>
</div>